# Python artifacts
__pycache__/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data: do NOT commit raw datasets
/data/*.csv
/data/*.parquet
/data/*.zip

# Models / checkpoints
*.pt
notebooks/*.pt
best_model.pt

# Images: ignore everything in Images except Images/outputs/
Images/*
!Images/outputs/
!Images/outputs/**

# Optional: ignore local IDE settings
.vscode/
*.env
.env
/.venv
/allen.zip
/bartholomew.zip
/bentonindiana.zip
/blackfordindian.zip
/boooneindian.zip
/brownindian.zip
/carollindiana.zip
/casscountyindiana.zip
/clark county indian.zip
/claycountyindiana.zip
/clinton indiana.zip
/crawfordindiana.zip
/daviessindiana.zip
/deabornindiana.zip
/decatourindiana.zip
/dekalbindiana.zip
/delawareindiana.zip
/duboisindiana.zip
/elkhartindiana.zip
/fayetteindiana.zip
/FInal Project Proposal.docx
/floydindiana.zip
/fountainindiana.zip
/ranklin indaiana.zip
/wss_SSA_IN001_soildb_IN_2003_[2025-09-02].zip
/wss_TemplateDB_soildb_US_2003_[2014-10-01]
/wss_TemplateDB_soildb_US_2003_[2014-10-01].zip